*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.gam, .lnr {
    display: none;
}
.upheader{
    padding-top: 37px;
    padding-bottom: 37px;
    background-image: url("../img/back.png");
}
.cont{
    width: 1363px;
    margin: 0 auto;
}
.upheader .cont{
    display: flex;

    align-items: center;
    justify-content: space-between;
}
.upheader .wrapper__header{
    display: flex;
    align-items: center;
}
.upheader .wrapper__header img{
    margin-right: 17px;
}
.upheader .cont .wrapper__header p, .upheader .cont .wrapper__header a{
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.upheader .cont .wrapper__left{
    display: flex;
}
.upheader .cont .wrapper__left .wrapper__header{
    margin-right: 55px;
}
header nav .cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-right: 42px;
}
header nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
header nav ul li:last-child{
    margin-right: 0;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    border-left: 5px solid rgb(254, 196, 0);
    padding-left: 15px;
}
h2 span{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.46);
}
button {
    cursor: pointer;
}
/* step */
#step{
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: rgb(247, 247, 247);
}
.all_steps{
    display: flex;
    justify-content: space-between;
}
.wrapper__step{
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 30px;
    width: 600px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.05);
}
.wrapper__step .number_step{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    width: 42px;
    height: 42px;
    background: rgb(254, 196, 0);
}
.wrapper__step p{
    margin-top: 23px;
    font-size: 24px;
    font-weight: 500;
}
.wrapper__step p span{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.content {
    position: relative;
    margin: 0;
    margin-left: auto;
    width: fit-content;
}
.content .banner {
    display: block;
}
#about .into__banner {
    position: absolute;
    top: 40px;
    left: 208px;
    width: 650px;
}
#about .into__banner p {
    padding: 20px 55px 20px 37px;
}
.info {
    position: absolute;
    bottom: 51px;
    left: 671px;
    width: 600px;
}
.info .fst, .info .snd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info .fst {
    margin-bottom: 57px;
}
.elem {
    display: flex;
}
.elem p {
    color: #fff;
    margin-left: 17px;
    font-size: 20px;
    font-weight: 600;
}
.elem p span {
    font-weight: 400;
}

/* сыпучие материалы и аренда */
#material, #tecn {
    padding: 37px 0;
}
#material h2, #tecn h2{
    width: 700px;
}
.blocktovar {
    width: 400px;
    margin: 0 auto;
}
.blocktovar img {
    display: block;
}
.blockspec {
    position: relative;
    background-color: #FFFFFF;
    padding: 30px 0 10px 0;
    width: 85%;
    margin-top: -50px;
    z-index: 1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.blockspec h3, .blockspec p {
    font-size: 20px;
    font-weight: 500;
    padding-left: 58px;
}
.blockspec h3 {
    margin-bottom: 25px;
}
.blockspec p span {
    font-size: 16px;
    opacity: 46%;
}
.blockspec p {
    padding-top: 15px;
    padding-bottom: 15px;
}
.blockspec ul {
    opacity: 46%;
    margin: 0 0 25px 0;
    padding-left: 58px;
}
.blockspec ul li {
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 10px;
}
.blockspec ul li:last-child {
    margin-bottom: 0;
}
.border {
    display: block;
    background: rgb(196, 196, 196);
    height: 2px;       
}
.blockspec button {
    background: rgb(254, 196, 0);
    color: #000;
    border: none;
    width: 163px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 58px;
}
.vsetovari {
    grid-gap: 4.32vw;
    display: grid;
    gap: 4.32vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 27px ;
}
.allproduct {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    color: #000;
    width: 180px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 auto;
}

/* всплывашка */
.backg_cts {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000A;
    top: 0;
    left: 0;
    display: none; /*flex*/
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.enable {
    display: flex;
}
.wind_cts {
    position: relative;
    width: 405px;
    padding-top: 17px;
    padding-bottom: 21px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
}
.wind_cts p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.wind_cts p span{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.wind_cts .text_num{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 21px;
    margin-bottom: 25px;
}
.wind_cts .btn_tel{
    margin: 0 auto;
    display: flex;
    width: 134px;
    height: 38px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgb(254, 196, 0);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
}
.wind_cts img{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}


/* footer */

.footer_block {
    background-image: url("../img/back.png");
    color: #FFFFFF;
    padding-top: 43px;
    padding-bottom: 15px;
}
.footer_call{
    border-left: 5px solid rgb(254, 196, 0);
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.footer_left {
    align-items: center;
    width: 617px;
    display: flex;
    justify-content: space-between;
}
.footer_num { 
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    
}
.foot_t{
    font-size: 20px;
    font-weight: 500;
}
.foot_opas{
    font-size: 16px;
    font-weight: 400;
    opacity: 68%;
}
.footer_text p, .footer_num {
    margin-bottom: 11px;
}
.footer_text p:last-child{
    margin-bottom: 0;
}
.footer_right ul li {
   list-style: none;
   padding-bottom: 15px;
}
.footer_right ul li:last-child {
    padding-bottom: 0px;
 }
.footer_right ul li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
 }
 .footer_block .cont{
    display: flex;
    justify-content: space-between;
    
 }

/* banner_header */
.banner__header{
    position: relative;
}
.into__banner{
    position: absolute;
    top:129px;
    left: 208px;
}
.into__banner p{
    font-size: 30px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    box-shadow: 9px 9px 0px rgba(254, 196, 0, 0.68);
    padding: 28px 55px 38px 37px;
    border-left: 15px solid rgb(254, 196, 0);
}
.into__banner p span{
    font-size: 24px;
    font-weight: 400;
}
.into__banner a{
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    background: rgb(254, 196, 0);
    text-decoration: none;
    color:#000;
}
.cop{
    margin-top: 30px;
    text-align: center;
}
td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding: 15px 0;
    display: block;
    
}
td {
    padding: 5px;
    word-break: break-all;
}
td:first-child {
    width: 30%;
}

@media screen and (max-width: 1643px) {
    .banner__header img, .content, .content .banner {
        width: 100%;
    }
}

@media screen and (max-width: 1443px) {
    .cont {
        width: 90%;
    }
    .vsetovari {
        gap: 2.32vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .into__banner {
        top: 40px;
    }
    #about .into__banner {
        position: static;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .info {
        position: static;
        margin: 0 auto;
    }
    .content .banner {
        display: none;
    }
    #about {
        background-image: url("../img/banner2.png");
        padding: 30px 0;
    }
    .all_steps {
        flex-direction: column;
    }
    .wrapper__step {
        width: 100%;
    }
}

@media screen and (max-width: 1240px) {
    .upheader .cont .wrapper__left .wrapper__header.wrap_address {
        display: none;
    }
    #about {
        background-image: url("../img/back.png");
    }
}

@media screen and (max-width: 1000px) {
    .vsetovari {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #material h2, #tecn h2 {
        width: auto;
    }
    .banner__header {
        background-image: url("../img/banner.png");
        padding: 30px 0;
    }
    .banner__header img {
        display: none;
    }
    .into__banner {
        position: static;
        width: 400px;
        margin: 0 auto;
    }
    .into__banner a {
        margin-left: auto;
        margin-right: auto;
    }
    #about .into__banner p {
        width: 400px;
        margin: 0 auto;
    }
    #about .into__banner {
        width: auto;
    }
    .footer_call {
        display: none;
    }
    .footer_left {
        width: 100%;
    }
    .upheader .cont, .footer_block .cont, .footer_left {
        flex-direction: column;
        order: 2;
    }
    .footer_right ul li {
        text-align: center;
    }
    .footer_right {
        margin: 0 auto;
        order: 1;
        margin-bottom: 20px;
    }
    .fst, .snd {
        flex-direction: column;
    }
    .snd .elem:last-child {
        margin-bottom: 0;
    }
    .info .fst {
        margin-bottom: 0;
    }
    .info {
        width: 100%;
    }
    .elem {
        width: 240px;
        margin-bottom: 20px;
    }
    .elem img {
        width: 52px;
    }
    .upheader .cont .wrapper__left .wrapper__header {
        margin-right: 0;
        margin-bottom: 20px;
    }

    header nav ul {
        display: none;
    }
    .gam, .lnr {
        display: block;
    }
    .gam {
        position: fixed;
        top: -4000px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.35s ease;
        z-index: 3;
    }
    
    .gam .krest {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }
    
    .gam nav {
        text-align: center;
    }
    
    .gam li {
        margin-bottom: 20px;
        list-style-type: none;
    }
    
    .gam li a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-family: "Source Sans Pro", sans-serif;
        text-transform: uppercase;
    }
    .line_gam {
        border-top: 1px solid #00adb5;
        padding-top: 15px;
    }
    
    .contact_gam {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    p, span, li, a, button {
        font-size: 16px !important; 
    }
    h3 {
        font-size: 18px !important; 
    }
    h2 {
        font-size: 20px; 
    }
    .elem img {
        width: 40px;
    }
    .upheader, header nav .cont, .banner__header, #material, #tecn, #about, #step, .footer_block {
        padding: 10px 0;
    }
    .upheader .cont .wrapper__left .wrapper__header {
        margin-bottom: 10px;
    }
    .wrapper__step {
        margin-top: 10px;
    }
    .blocktovar {
        width: 290px;
    }
    .blocktovar img {
        width: 100%;
    }
    .blockspec {
        margin-top: 0;
        width: 100%;
    }
    .blockspec h3, .blockspec p, .blockspec ul {
        padding-left: 15px;
    }
    .blockspec button {
        margin-left: 15px;
    }
    .banner__header {
        display: none;
    }
    #about .into__banner p {
        width: 290px;
    }
}